/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ESTILOS PADRÕES */

html {
  --green-1: #66aa11;
  --green-2: #599c06;
  --white-1: #dcddde;
  --black-1: #404a52;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, #fffef9 50%, #33a346 0%, #41a952 100%);
  color: var(--black-1);
  line-height: 1;
}

/* Usado nas páginas de erro */
h1,
h2 {
  font-weight: 700;
  line-height: 1.2;
}

/* Logo do IFRS no login */
#logo_login {
  display: block;
  max-width: 100%;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 1rem;
}

/* Mensagem para informar usuário e senha do Moodle */
#login_paragraph {
  font-family: "Poppins", Courier, monospace;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: center;
}

/* Section do login */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 1rem;
}

/* Botão enviar do login */
#login {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  padding: 1rem 4rem;
  background-color: var(--green-1);
  border-radius: 5px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 2rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
  transition: 0.3s ease;
  border: none;
  cursor: pointer;
}

#login:hover {
  background: var(--green-2);
}

/* Caixa de formulário */
.box_form {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 25px;
  box-shadow: 0 5px 8px rgb(0 0 0 / 10%), 0 10px 18px rgb(0 0 0 / 10%);
}

.box_form label,
.box_form input,
.box_form button {
  display: block;
  width: 100%;
}

.box_form label {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.box_form input {
  font-size: 1.125rem;
  color: #495057;
  padding: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  border: 1px solid var(--white-1);
  border-radius: 5px;
  background-color: #fff;
  /* -webkit-appearance: none;
  -moz-appearance: none; */
}

/* Mensagem de login ou senha incorretos */
.mensagem_erro {
  text-align: center;
  padding: 5px;
  width: 100%;
  color: #691911;
  background-color: #f4d6d2;
  border-radius: 5px;
  margin-bottom: 1rem;
  max-width: 280px;
}

/* RESPONSIVO */

@media only screen and (max-width: 470px) {
  #login_paragraph,
  #login {
    font-size: 1rem;
  }

  .box_form label {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 400px) {
  .box_form {
    padding: 1rem;
  }
  #login_paragraph {
    font-size: 0.875rem;
  }
  .box_form #login {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .box_form label {
    font-size: 0.8rem;
  }
}
