body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fffef9;
}

html {
  --green-1: #75ba1e;
  --green-2: #66aa11;
  --green-3: #599c06;
  --white-1: #fafbfc;
  --white-2: #edeeef;
  --white-3: #dcddde;
  --black-1: #404a52;
  --black-2: #333c43;
  --black-3: #232c33;
}

header {
  padding: 0.2rem 1rem 0 1rem;
}

#logo {
  width: 100%;
  max-width: 350px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#logo {
  width: 100%;
  max-width: 350px;
}

section {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ALTERADO */
#botao_receber {
  /* display: inline-block; */
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  padding: 1rem 4rem;
  background-color: var(--green-2);
  border-radius: 5px;
  color: #fff;
  border: none;
  /* text-align: center; */
  /* text-transform: uppercase; */
  font-weight: 700;
  /* margin-top: 2rem; */
  box-shadow: 2px 2px 2px rgb(0 0 0 / 16%);
  transition: 0.3s ease;
  cursor: pointer;
}

/* ALTERADO */
#botao_receber:hover {
  background: var(--green-3);
}
