body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#data {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.box {
    width: 380px;
    height: 420px;
    background-color: rgb(254, 255, 255);
    padding: 10px;
    border-radius: 2rem;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 5px 8px rgb(0 0 0 / 10%), 0 10px 18px rgb(0 0 0 / 10%);
}

.mensagem{
    margin-top: 300px;

}

input::placeholder {
    color: #dddfe2;
}

#user_senha {
    display: flex;
    flex-direction: column;
}


#sucesso,#data{
    color: #404240;
}


.mensagem,
#data {
    padding: 5px;
}

label,
.mensagem,
#data {
    font-weight: 900;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{
    padding: 10px;;
}
#logo{
    width: 400px;

}

#body_login,
#body_qr_code_page {
    background: linear-gradient(90deg,
            #FFFEF9 50%,
            #2f833d 0%,
            #2F9E41 100%);
}

#body_sucess {
    background-color: #FFFEF9;
}

.checkmark {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

section {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    height: 30px;
    width: 280px;
    padding: 5px 7px;
    border-radius: 7px;
    border: 1px solid #dddfe2;
}

label,
h1 {

    color: black;
    margin: 5px;
}

h1,
h3,
p,
#data {
    text-align: center;
}


#info_login {
    color: darkgrey;
    margin: 5px 12px 10px;
    font-size: 12pt;
}


button {
    text-align: center;
    margin: 20px 0;
    height: 35px;
    width: 295px;
    background-color: #2F9E41;
    color: #FFFEF9;
    border-radius: 7px;
    border-style: none;
    cursor: pointer;
    box-shadow: 0 5px 8px rgb(0 0 0 / 10%), 0 10px 18px rgb(0 0 0 / 10%);
    /* padding: 5%; */
}

button:hover {
    /* width: 110px; */
    background-color: #236e30;
    color: #f0f2f5;

}

.container.-imagem {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    #check_imagem {
        width: 200px;
    }

    .mensagem,
    #data {
        font-size: 15px;
    }

    .checkmark {
        width: 150px;
        height: 150px;
    }

    svg {
        width: 200px;
        height: 220px;
        ;
    }


}

@media (max-width: 300px) {
    #check_imagem {
        width: 100px;
    }

    .mensagem,
    #data {
        font-size: 10px;
    }

}


#popup2:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
}

#popup2:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    border-radius: 2rem;
    z-index: -1;
}

.popup {
    display: none;
    position: fixed;
    padding: 10px;
    width: 280px;
    left: 50%;
    margin-left: -150px;
    height: 180px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    z-index: 20;
    border-radius: 2rem;
}

.popup a,
    .popup a:visited {
        color: rgba(0,0,0,0.5);
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    align-items: center;
    border-style: none;
}

.my-float{
    margin-top:22px;
}

#popx{
    text-align: right;
    margin-right: 8px;
}
 
#poptxt{
    margin-top: 40px;
} 

#x{
    background-color: #236e30;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 50%;
    color: #FFF;
    text-decoration: none;
}
.fas {
    font-size: 2rem;
    color:#236e30;
}
